
html{
    background-color: #E84919;
    font-family: "Work Sans","sans-serif";
}

body{
    background-color:  rgba(174,48,71,1);
    margin: 0;
}

@media only screen and (max-width: 768px) {
    body{
        background-image: url("images/background-A4.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}


@media only screen and (min-width: 768px) {
    body{
        background-image: none;
    }

    .parallax {
        height: 100vh;
        overflow-x: hidden;
        overflow-y:auto;
        perspective: 50px;
        z-index: -8;
        
    }
    
    .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vW;
    }

    .parallax-layer img{
        width: 100%;
    }
    
    
    .layer4{
        transform: translateZ(-300px) scale(7);
        z-index: -5;
    }

    .layer4 img{
        content: url("images/retropico-illu-nuit-calques/Plan4.png");
    }

    .layer3{
        transform: translateZ(-250px) scale(6);
        top:100vw;
        z-index: -4;
    }

    .layer3 img{
        content: url("images/retropico-illu-nuit-calques/Plan3.png")
    }

    .layer2{
        transform: translateZ(-200px) scale(5);
        top:110vw;
        z-index: -3;
    }
    .layer2 img{
        content: url("images/retropico-illu-nuit-calques/Plan2.png");
    }

    .layer1-bis{
        transform: translateZ(-100px) scale(3);
        top:55vw;
        z-index: -2;
    }
    .layer1-bis img{
        content: url("images/retropico-illu-nuit-calques/Plan1-bis.png");
    }

    .layer1{
        transform: translateZ(-50px) scale(2);
        top:75vw;
        z-index: -1;
    }
    .layer1 img{
        content: url("images/retropico-illu-nuit-calques/Plan1.png");
    }

}


.nav-bar{
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 20vh;
    max-height: 100px;
    min-height: 20px;
    background: linear-gradient(180deg, rgba(0,0,0,0.1),rgba(0,0,0,0));
}
.logo-container{
    display:flex;
    justify-content: center;
}
.navbar-logo{
    max-height:100%;
    max-width: 100%;
    width: auto;
}

.social-icons{
    height: 100%;
}

.navbar-image{
    max-height: 24px;
    max-width: 100%;
}

.navbar-item{
    /* flex:auto; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-container{
    height: min(110vw,100vh);
}

@media only screen and (min-width: 768px) {
    .empty-container{
        /* height: min(66vw,100vh); */
        height: 150vw;
    }
}

.gradient-container{
    width: 100%;
    padding-inline: 30px;
    /* padding-top:20vh; */
    padding-bottom: 70px;
    /* height: 200vh; */
    background: rgb(72,53,62);
    background: linear-gradient(180deg, rgba(72,53,62,0) 0%, rgba(91,52,64,1) 22vW, rgba(174,48,71,1) 100%);
}

@media only screen and (min-width: 768px) {
    .gradient-container{
        background: linear-gradient(180deg, rgba(72,53,62,0) 0%, rgba(91,52,64,1) 30vW, rgba(174,48,71,1) 100%);
    }
}

.spotify-container{
    /* margin-top:20px; */
    min-height: 400px;
    border-radius: 15px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
}

.date-spotify{
    padding-block: 20px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:140px; */
    max-width:800px;
}

/** Safari */
@media not all and (min-resolution: 0.001dpcm) {
    .date-spotify{
        max-height: 535.4px;
    }
    }

.dates-spotify-col{
    margin-block:50px
}

.dates-container{
    /* margin-top:20px; */
    /* margin-block: 20px; */
    border-radius: 15px;
    background-color:#48353E ;
    color:#E84919;
    padding: 30px;
    font-weight: 400;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
}

/* .passees{
    color:#F5AC9D;
    font-weight: 300;
} */

hr.thick{
    border-top: 3px dashed #E84919;
}

/* @media (max-width: 576px){
    .dates-container{
        padding: 15px;
        font-size: medium;
    }
} */

h2{
    font-weight:800;
}

.description-youtube{
    margin-left: auto;
    margin-right: auto;
    /* margin-top:50px; */
    max-width:800px;
}

.container-video{

    width:100%;
    aspect-ratio: 16/9;
}

#video-iframe{
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
    border-radius: 7px;
}

.description{
    /* column-count: 2; */
    color:#F5AC9D;
    margin-top: 40PX;
}

/* @media (hover: none) and (pointer: coarse) or (max-width: 576px){
    .description{
        column-count: 1;
    }
} */

.buttons{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.button{
    width: 200px;
    height: 60;
    padding: 10px;
    margin-top: 20;
    margin-inline: auto;
    font-size:x-large;
    font-weight: bolder;
    border-radius: 6px;
    border-width: 0;
    text-align: center;
    /* vertical-align: middle; */
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
    text-decoration: none;
}

/* @media (hover: none) and (pointer: coarse){
    .button{
        width: 400px;
        height: 160;
        font-size:xx-large;}
    } */

.button-contact{
    background-color: #E84919;
    color: white;
}

.button-contact:hover{
    background-color: #e75529;
}

.button-linkaband{
    background-color: #F5AC9D;
    color: white;
}

.button-linkaband:hover{
    background-color: #ebcdc8
}


.footer{
    /* border-top-color: black;
    border-top-width: 3px; */
    display: flex;
    padding-block: 10px;
    height: 80px;
    background-color: white;
}

.my-slider-container{
    background-color:  rgba(174,48,71,1);
    /* margin-inline: auto; */
    /* margin-top: 50px; */
    width: 100%;
    /* max-height:100vh ; */
    aspect-ratio: 16/9;
}

/* .slider-container{
    max-height: 100vh;
} */

/* li{
    height: fit-content;
}*/

li img{
    width: 100%; 
    /* height: 100vh; */
    /* overflow: important hidden; */
    /* object-fit: fill; */
}


.footer-logo{
    flex:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.footer-logo img{
    max-height: 100%;
    max-width: 100%;
}





