
html{
    background-color: rgba(174,48,71,1);
    font-family: "Work Sans","sans-serif";
}

body{
    background-color: rgba(174,48,71,1);
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    
    /* scroll-snap-type: y mandatory; */
}

/* @media only screen and (hover: none) and (pointer: coarse) or (max-width: 800px) {
    body{    
        background-size:cover;
        background-position: center center;
        background-attachment: fixed; }

    p{font-size:large}

} */


/* body > div {
    scroll-snap-align: start;
} */

.nav-bar{
    display: flex;
    flex-direction: row;
    height: 20vh;
    max-height: 100px;
    min-height: 20px;
}

.navbar-logo{
    max-height:100%;
    width:auto
}

.social-icons{
    height: 100%;
}

.navbar-image{
    max-height: 24px;
    max-width: 100%;
}

.navbar-item{
    flex:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (hover: none) and (pointer: coarse){
    .nav-bar{
        max-height: 200px;
    }
    .navbar-image{
        max-height: 100px;
    }
} */

.empty-container{
    /* min-height: 100vh; */
    height: min(66vw,100vh);
}

.gradient-container{
    padding-inline: 30px;
    /* padding-top:20vh; */
    padding-bottom: 50px;
    /* height: 200vh; */
    background: rgb(72,53,62);
    background: linear-gradient(180deg, rgba(72,53,62,0) 0%, rgba(91,52,64,1) 22vW, rgba(174,48,71,1) 100%);
}

.spotify-container{
    /* margin-top:20px; */
    min-height: 400px;
    border-radius: 15px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
}

/* @media (max-width: 576px){
    .spotify-container{
        margin-block: 20px;
        min-height: 50vh;
    }
} */
.date-spotify{
    padding-block: 20px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:140px; */
    max-width:800px;
}

.dates-spotify-col{
    margin-block:20px
}

.dates-container{
    /* margin-top:20px; */
    /* margin-block: 20px; */
    border-radius: 15px;
    background-color:#48353E ;
    color:#E84919;
    padding: 30px;
    font-weight: 400;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
}

/* .passees{
    color:#F5AC9D;
    font-weight: 300;
} */

hr.thick{
    border-top: 3px dashed #E84919;
}

/* @media (max-width: 576px){
    .dates-container{
        padding: 15px;
        font-size: medium;
    }
} */

h2{
    font-weight:800;
}

.description-youtube{
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-width:800px;
}

.container-video{

    width:100%;
    aspect-ratio: 16/9;
}

#video-iframe{
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
    border-radius: 7px;
}

.description{
    /* column-count: 2; */
    color:#F5AC9D;
    margin-top: 40PX;
}

/* @media (hover: none) and (pointer: coarse) or (max-width: 576px){
    .description{
        column-count: 1;
    }
} */

.buttons{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.button{
    width: 200px;
    height: 60;
    padding: 10px;
    margin-top: 20;
    margin-inline: auto;
    font-size:x-large;
    font-weight: bolder;
    border-radius: 6px;
    border-width: 0;
    text-align: center;
    /* vertical-align: middle; */
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1),0 0 29px 0 rgba(0,0,0,.1);
    text-decoration: none;
}

/* @media (hover: none) and (pointer: coarse){
    .button{
        width: 400px;
        height: 160;
        font-size:xx-large;}
    } */

.button-contact{
    background-color: #E84919;
    color: white;
}

.button-contact:hover{
    background-color: #e75529;
}

.button-linkaband{
    background-color: #F5AC9D;
    color: white;
}

.button-linkaband:hover{
    background-color: #ebcdc8
}

.slideshow{
    padding: 0;
}

.carousel-image{
    max-width: 100vW;
    max-height: 100vh;
    height: auto;
    width: auto;
}

.footer{
    /* border-top-color: black;
    border-top-width: 3px; */
    display: flex;
    padding-block: 10px;
    height: 80px;
    background-color: white;
}

.my-slider-container{
    margin-inline: auto;
    margin-top: 50px;
    max-width: 800px;
    aspect-ratio: 800/450;
}

/* @media (hover: none) and (pointer: coarse){
    .footer{
        max-height: 200px;
    }
} */

.footer-logo{
    flex:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.footer-logo img{
    max-height: 100%;
    max-width: 100%;
}





